.recent-post-view-all-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 35px;
  padding: 32px;
}
.recent-post-view-all-button-div > h4 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(91, 7, 46);
  margin-left: 29px;
}
.recent-post-view-all-button-div > button {
  margin-right: 29px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: rgb(133, 9, 48);
  border-radius: 19px;
  font-size: 15px;
  border: 1px solid rgb(181, 62, 82);
  background-color: rgb(242, 216, 220);
  cursor: pointer;
}

.recent-post-indiv-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 23px;
  margin-top: 23px;
  width: 400px;
  padding: 20px;
  background: linear-gradient(rgb(223, 176, 184), rgb(211, 144, 144));
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.recent-post-indiv-div:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}
.recent-post-category-div {
  color: rgb(169, 46, 67);
  background-color: pink;
  width: 96px;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 16px;
}
.recent-post-title {
  margin-top: 7px;
  margin-left: 5px;
  color: rgb(90, 6, 6);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.recent-post-content {
  margin-top: 10px;
  margin-left: 5px;
  color: rgb(108, 44, 44);
}
.recent-post-date-div {
  display: flex;
  gap: 7px;
  margin-top: 20px;
  margin-left: 5px;
}
.recent-post-date-div > P {
  color: rgb(108, 44, 44);
}
.like-view-comm-read-div {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}
.like-view-comm-div {
  display: flex;
  gap: 12px;
}
.views-div,
.likes-div,
.comments-div {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.views-div,
.likes-div,
.comments-div > p {
  color: rgb(108, 44, 44);
}
.read-div {
  color: rgb(97, 13, 13);
  cursor: pointer;
}
.all-recent-posts-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  min-width: 350px;
  margin-top: 20px;
  padding: 0 20px;
}
.floating-plus-button {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: #bc4b77;
  color: white;
  border: none;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease, transform 0.2s ease;
  z-index: 1000;
}
.floating-plus-button:hover {
  background-color: #c75788;
  transform: translateY(-13px);
}
